@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/RalewaLight.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium Italic";
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("../fonts/Raleway-MediumItalic.woff") format("woff"),
    url("../fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Light Italic";
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-LightItalic.woff") format("woff"),
    url("../fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("../fonts/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("../fonts/PlayfairDisplay-Italic.eot");
  src: url("../fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Bold Italic";
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("../fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2d2d2d;
  font-size: 14px;
}

p {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.aloha-logo {
  flex-basis: 70%;
  margin-left: 10px;
}

.cart-icon {
  margin-right: 10px;
}
.header-options {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
  order: 3;
  justify-content: space-around;
  color: #e2574c;
  font-family: "Playfair Display Regular";
  text-transform: uppercase;
  border-top-style: solid;
  border-top-color: lightgray;
  border-width: 1px;
  /* text-decoration: overline; */
}

.header-options li {
  padding-top: 0.5em;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0,
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: center;
  background-size: cover, contain, contain;
}

.hero-banner p {
  color: white;
  text-align: center;
  font-family: "Raleway Light";
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-banner h2 {
  color: white;
  text-align: center;
  font-family: "Playfair Display Regular";
  font-size: xx-large;
  font-weight: lighter;
  padding-top: 10px;
}

.description {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description h2 {
  line-height: 45px;
}

.description em {
  font-family: "Playfair Display Italic";
  font-size: x-large;
  font-weight: lighter;
}

.description strong {
  font-family: "Playfair Display Bold";
  font-size: x-large;
}

.description p {
  color: black;
  line-height: 35px;
  font-family: "Raleway Light";
}

.shop-grid {
  display: grid;
  width: 100%;
  /* width: 100vw; */
  height: fit-content;
  color: white;
  text-transform: uppercase;
  font-family: "Raleway Medium";
  font-size: 20px;
  font-weight: bolder;
  grid-gap: 8px;
  grid-template-areas:
    "mens mens"
    "trends glasses"
    "sale bags"
    "womens womens";
}

.shop-grid div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.item1 {
  grid-area: mens;
  /* height: 11vh; */
  background-image: url(../images/mens-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-y: 0vmin; */
  /* height: 185px; */
  width: 100%;
}

.item2 {
  grid-area: trends;
  /* height: 11vh; */
  background-image: url(../images/trends-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: 0vmin; */
  /* height: 185px; */
  width: 100%;
}

.item3 {
  grid-area: glasses;
  /* height: 11vh; */
  background-image: url(../images/glasses-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-y: 0vmin; */
  /* height: 185px; */
  /* width: 100%; */
}

.item4 {
  grid-area: sale;
  /* height: 11vh; */
  background-image: url(../images/sale-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-y: 0vmin; */
  /* height: 185px; */
  width: 100%;
}

.item5 {
  grid-area: bags;
  /* height: 11vh; */
  background-image: url(../images/bags-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-y: 0vmin; */
  /* height: 185px; */
  width: 100%;
}

.item6 {
  grid-area: womens;
  /* height: 11vh; */
  background-image: url(../images/womens-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-y: 0vmin; */
  /* height: 185px; */
  width: 100%;
}
/* 
section .itemdisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
} */
.product-list {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  justify-content: center;
}

section.featured {
  text-align: center;
  padding-top: 50px;
}

section.featured em {
  font-family: "Playfair Display Italic";
  font-weight: lighter;
  font-size: xx-large;
}

section.featured strong {
  font-family: "Playfair Display Bold";
  font-size: xx-large;
}
.product-cell {
  display: block;
  /* position: initial; */
  width: 100%;
  /* min-height: 200px; */
}
.product-cell img {
  display: block;
  width: 100%;
}

.product-cell p {
  font-family: "Playfair Display Regular";
  color: rgb(121, 121, 121);
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-cell h3 {
  font-family: "Raleway Mediium";

  color: #e2574c;
}

.sign-up p,
.sign-up h2 {
  display: flex;
  justify-content: center;
  color: white;
}

.sign-up h2 {
  font-size: xx-large;
  font-family: "Playfair Display Italic";
  line-height: 75px;
}

.sign-up p {
  line-height: 35px;
}

.sign-up form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

.email-info {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 300px;
  background-image: url(../images/wave-bkgd.jpg);
  background-size: auto;
  background-position: bottom;
  margin-bottom: 15px;
  margin-top: 30px;
  font-family: "PlayfairDisplay-Regular";
}

input[type="email"] {
  border-radius: 2em;
  width: 70%;
  height: 35px;
}

input[type="submit"] {
  border-radius: 2em;
  width: 95px;
  height: 29px;
  margin-top: 4px;
  margin-left: -98px;
  color: white;
  background: #e2574c;
}

footer {
  background-color: #242424;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-info {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  font-family: "Playfair Display Regular";
}

.company-info p {
  text-align: center;
}

.company-info a {
  color: white;
}

.address {
  color: #969696;
}

.media-list ul {
  color: white;
  display: flex;
  flex-direction: row;
  width: 175px;
  justify-content: space-evenly;
  padding-top: 35px;
}

@media screen and (min-width: 600px) {
  nav {
    display: flex;
    height: min-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .aloha-logo {
    flex-basis: 0;
  }

  .cart-icon {
    order: 3;
  }

  .header-options {
    display: flex;
    flex-direction: row;
    height: 0px;
    /* padding-right: 100px; */
    padding-top: 15px;
    justify-content: space-evenly;
    color: #e2574c;
    border-top-style: none;
  }

  .shop-grid {
    display: grid;
    width: 100%;
    /* width: 100vw; */
    height: fit-content;
    grid-gap: 8px;
    grid-template-areas:
      "mens mens trends glasses"
      "sale bags womens womens";
  }

  .flickity-slider {
    position: absolute;
    width: 50%;
    height: 90%;
  }

  .product-cell img {
    display: block;
    width: 50%;
  }

  .item1 {
    grid-area: mens;
    /* height: 11vh; */
    background-image: url(../images/mens-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-y: 0vmin; */
    /* height: 185px; */
    width: 0%;
  }

  footer {
    flex-direction: row;
  }

  .company-info {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    align-items: baseline;
  }

  .media-list ul {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1240px) {
  nav {
    display: flex;
    height: min-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .cart-icon {
    order: 3;
  }

  .header-options {
    display: flex;
    flex-direction: row;
    height: 0px;
    padding-right: 100px;
    padding-top: 15px;
    justify-content: space-around;
    color: #e2574c;
  }

  .shop-grid {
    display: grid;
    width: 100%;
    /* width: 100vw; */
    height: fit-content;
    grid-gap: 8px;
    grid-template-areas:
      "mens mens trends glasses"
      "sale bags womens womens";
  }

  .flickity-slider {
    position: absolute;
    width: 25%;
    height: 90%;
  }

  .item1 {
    grid-area: mens;
    /* height: 11vh; */
    background-image: url(../images/mens-category.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position-y: 0vmin; */
    /* height: 185px; */
    width: 0%;
  }

  .company-info {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    justify-content: flex-start;
    align-self: flex-end;
  }

  .media-list ul {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
  }
}
